body {
  background-color:  	#ffb6b9;
}

h1{
  color: red;
}

p{
  color: black ;
  width :400px;
}



p{
  border :1px solid bla
}
img {
  display :block;
  margin  :0 auto;
  padding-right:
}

h2{
  text_align_centre
}
body {
  width   : 600px;
  margin  : 0 auto;
  background color:#ffb6b9;
  padding : 0 20px 20px 20px;
  border  : 5px solid black;
}
